body {
    background-image: url("../img/escola.png");
    background-repeat: no-repeat;
    width: 100%;
}

form {
    color: white;
    background-color: rgba(24, 23, 23, 0.733);
    text-align: left;
    margin: 5em auto;
    width: 320px;
    border-radius: 10px;
    height: 281px;
}

form div {
    margin: auto;
    height: 50px;
    width: 300px;
}