<!DOCTYPE html>
<html lang="ptbr" ng-app="portalApp">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/cadastroaluno.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
    <script type="text/javaScript " src="/node_modules/angular/angular.min.js"></script>
    <script type="text/javaScript " src="/app/app.js "></script>
    <script type="text/javaScript " src="/app/controllers.js "></script>

    <title>Aluno Online</title>
</head>

<body ng-controller="cadastrarAlunoController as vm" ng-init="vm.init()">

    <div class="wrapper">
        <div class="sidebar">
            <h2>Unidesc</h2>
            <ul>
                <li><a href="#"><i class="fas fa-university"></i>Home</a></li>
                <li><a href="#"><i class="fas fa-user-graduate"></i>Alunos</a></li>
                <li><a href="#"><i class="fas fa-chalkboard-teacher"></i>Professores</a></li>
                <li><a href="#"><i class="fas fa-book"></i>Disciplinas</a></li>
                <li><a href="#"><i class="fas fa-blog"></i>Dúvidas Frequentes</a></li>
                <li><a href="#"><i class="fas fa-address-book"></i>Contato</a></li>
            </ul>
            <div class="social_media">
                <a href="https://www.facebook.com/unidesc" target="_blank"><i class="fab fa-facebook-f"></i></a>
                <a href="https://twitter.com/unidesc" target="_blank"><i class="fab fa-twitter"></i></a>
                <a href="https://www.instagram.com/unidesc" target="_blank"><i class="fab fa-instagram"></i></a>
            </div>
        </div>
        <div class="main_content">
            <div class="header">
                <h3>Cadastro de Alunos</h3>
                <a href="../index.html"><i  class="fas fa-sign-out-alt fa-2x"></i></a>
            </div>
            <div class="info">
                <div>
                    <form>
                        <div class=" form-row ">
                            <div class="form-group col-md-3 ">
                                <label>Nome Completo</label>
                                <input type="text " class="form-control " placeholder="Nome " ng-model="vm.aluno.nome ">
                            </div>
                            <div class="form-group col-md-2 ">
                                <label>CPF</label>
                                <input type="text " class="form-control " placeholder="CPF " ng-model="vm.aluno.cpf ">
                            </div>
                            <div class="form-group col-md-1 ">
                                <label>NºMatricula</label>
                                <input type="text " class="form-control " placeholder="NºMatricula " ng-model="vm.aluno.matricula ">
                            </div>
                        </div>
                        <div class="form-row ">
                            <div class="form-group col-md-3 ">
                                <label>Telefone</label>
                                <input type="text " class="form-control " placeholder="Telefone " ng-model="vm.aluno.tel ">
                            </div>
                            <div class="form-group col-md-3 ">
                                <label>E-mail</label>
                                <input type="email " class="form-control " placeholder="E-mail " ng-model="vm.aluno.email ">
                            </div>

                        </div>
                </div>
                <div>
                    <button type="submit " class="btn btn-primary " ng-disable="!vm.aluno.nome || !vm.aluno.cpf || !vm.aluno.matricula || !vm.aluno.tel " ng-click="vm.adicionarAlunos() ">Cadastrar</button>
                    <button type="submit " class="btn btn-secondary " ng-click=" ">Limpar</button>
                    <a href="./menuprincipal.html "><button type="submit " class="btn btn-danger ">Voltar</button></a>
                </div>
                </form>

                <div>
                    <table class="table ">
                        <thead class="thead-dark ">
                            <tr>
                                <th scope="col ">Ações</th>
                                <th scope="col ">NºMatricula</th>
                                <th scope="col ">Nome do Aluno</th>
                                <th scope="col ">CPF</th>
                                <th scope="col ">E-mail</th>
                                <th scope="col ">Telefone</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in vm.alunos track by $index ">
                                <td><i class="far fa-edit " ng-click="vm.editarAluno($index) "> </i><i class="fas fa-trash-alt " ng-click="vm.deletarAluno($index) "></i></td>
                                <td>{{item.matricula}}</td>
                                <td>{{item.nome}}</td>
                                <td>{{item.cpf}}</td>
                                <td>{{item.email}}</td>
                                <td>{{item.tel}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
</body>

</html>